<div class="container">  
  <div class="panel panel-primary">
    <div class="panel-heading">
        {{pageTitle}}
    </div>
    <div class="panel-body">
       <div class="row">
         <div class="col-xs-12">
            <label class="control-label">Filter by</label>
            <!-- 2-way data-binding for search input -->
            <input type="text" class="form-control" [(ngModel)]="searchKey" /> <!-- explore how to do search functionality by using the ngModelChanges directive -->
            You are searching by: <span style="color: crimson;">{{searchKey}}</span>

            <!--
            <input type="date" class="form-control" [(ngModel)]="startDate" />
            You are searching by: <span style="color: crimson;">{{startDate}}</span>
            -->

            <br/>
            <button class="btn btn-danger" (click)="searchKey = ''">Reset search</button>
            <br/>
          </div>
       </div>
       <!-- there is also an *ngSwitch you can use for actions on opposite conditions (if-else) -->
       <div class="row">
          <div class="alert alert-primary" *ngIf="products && products.length === 0">
            No products found
          </div>
          <table class="table" *ngIf="products && products.length !== 0">
            <thead>
              <tr>
                <th>Image <input type="button" class="btn btn-primary" [value]="imageDisplay === true ? 'Hide image' : 'Show image'" (click)="toggleImage()" /></th>
                <th>Product Id</th>
                <th>Product Name</th>
                <th>Product Code</th>
                <th>Price</th>
                <th>Star Rating</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let product of filteredProducts" (dblclick)="removeProduct(product)">
                <!-- you can also use [hidden]="imageDisplay" instead of *ngIf -->
                <td><img [src]="product.imageUrl" [style.width.px]="imageWidth" *ngIf="imageDisplay" /></td> <!-- Can also be done by adding class="product-image"  -->
                <td>{{transformProductId(product.productId)}}</td>
                <td>
                  <a [routerLink]="[product.productId]">{{product.productName}}</a>
                </td>
                <td>{{product.productCode | lowercase | replaceCharacter:'-':':'}}</td>
                <td>{{product.price | currency:'INR':true:'1.2-2'}}</td> <!-- number, date, percentage, json -->
                <td>
                  <app-rating-stars [rating]="product.starRating" (ratingClick)="onRatingClick($event)"></app-rating-stars>
                  <button (click)="incrProductRating(product)">Increment rating</button>
                </td>
              </tr>
            </tbody>
          </table>
       </div>
    </div>
  </div>
</div>