* {
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Josefin Sans', 'Helvetica Neue', Helvetica, Verdana, Arial, sans-serif;
}

@keyframes slideIn {
    0% { transform: translate(0px, 500px); opacity: 0; }
    100% { transform: translate(0px, 0px); opacity: 1; }
}

.gallery {
    list-style-type: none;
    font-size: 14px;
    animation: slideIn 800ms ease-in-out;
}

.gallery-item {
    float: left;
    width: 200px;
    padding: 0 10px;
    border: 1px solid black;
    border-radius: 5px;
    margin: 10px 20px;
    background: linear-gradient(135deg, #f7f8fd 0%, #8ff8fb 50%, #ccf5f8 100%);
}

.gallery-item:hover {
    cursor: pointer;
    box-shadow: 0 0 2px 3px #bbb;
}

.image-container {
    height: 150px;
    text-align: center;
}

.gallery-item img {
    height: 100%;
    opacity: 0.4;
}

.product-rating-n-reviews {
    height: 24px;
}

.product-rating {
    float: left;
    display: block;
    width: 75px;
    text-align: left;
}

.product-rating .icon-rating {
    opacity: 0.4;
}

.product-reviews {
    float: right;
    display: block;
    width: 75px;
    text-align: right;
}

.product-title {
    font-size: 16px;
    line-height: 1.5;
    text-shadow: 2px 1px 2px gray;
    text-align: center;
    font-weight: bold;
}

.product-description {
    height: 100px;
}

.icon-rating {
    background-image	: url( '../img/rating-sprite.png' );
    background-repeat	: no-repeat;
    background-size		: 326px 19px;
    display				: inline-block;
    width               : 78px;
	height				: 19px;
}

.icon-rating-5 {
    background-position	: -2px 0px;
}

.icon-rating-4-5 {
    background-position	: -167px 0px;
}

.gallery-item:hover img, .gallery-item:hover .icon-rating {
    opacity: 1;
}

@media print {
    .gallery-item .image-container {
        display: none;
    }
}